@import url('https://fonts.googleapis.com/css?family=Anton|Signika&display=swap');

body {
  background-color: rgb(255,230,255);
  font-size: 16px;
  font-family: "Signika", "Anton",  "Helvetica", "Arial", sans-serif;
  color: #222;
  list-style-type: square;
}



.wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(,2,1fr);
  grid-auto-rows: auto;
  grid-column-gap: 10px
}


section p {
  line-height: 15px;
  font-family: "Signika";

}


 h1 h2 h3 h4{
   font-family: "Anton", sans-serif;
   font-weight: bold;
}

h1{
  text-align: center;
  font-size: 60px
}



 img {
   display: block;
   margin-right: auto;
   margin-left: auto;
  border: 4px solid #222;
  margin-bottom: 3em
}

#contact {
  text-align: center;
  grid-area:1;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 200px;
  border: 3px dotted #222;
  margin-bottom: 20px;
  background-color: rgb(240,248,255);
  padding: 10px

}




#education {
  width: 400px;
  height: 300px;
  border: 3px solid #222;
  margin-bottom: 20px;
  border-color: black;
  padding: 10px

}

#skills{
  width: 400px;
  height: 300px;
  margin-bottom: 20px;
  border: 3px solid #222;
  margin-bottom: 20px;
  border-color: black;


}

#expereince {
  border: 3px solid #222;
  width: 400px;
  height: 600px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px

}

h4{
  font-weight: bold;
  color: white;
  background-color: black;
}
h3 {
  background-color: rgb(230,242,255);
  text-align: center;
  border-style: dotted;
}
h2 {
  color: white;
  background-color: black;
  text-align: center;
  border-style: dotted;
}

a:active {
  color: rgb(17,30,108);
}

a:hover {
  color: rgb(150,55,45);
  border: 2px solid #aaa;
}

a:visited {
  color: rgb(195,5,248);
}


  ul li {
    list-style-type: square;
    list-style-position: inside;

  }
